* {
  background-color: antiquewhite;
}

#email-contact-form {
  color: violet;
}

.grp2 {
  color: aqua;
}

.grp2 > p {
  color: blue;
}



.groups > div {
  display: flex;
  
}


  .groups{ 

    display: grid;

    
     grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* grid-template-columns: 10vw 10vw 10vw 10vw; */
     

     /* grid-column-start: 4;
     grid-column-end: 5;
     grid-row-start: 3;
     grid-row-end: 4; */

}

@media screen and (max-width: 600px){
  .groups{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5  , 1fr);

transition: 1s color;
  }
}



div:hover {
  background-color: #FF1493;
}
/* 
.grp1{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.grp2{
  grid-column: 2 / 3;
  grid-row: 1  / 2;

} */


